n8n/daily_digest.json
{
  "name": "Arb - Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 4 * * *"
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000001",
      "name": "Daily 9:30am IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8765/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Control-Secret",
              "value": "YOUR_CONTROL_API_SECRET"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Get Bot Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Pull in the bot's current config and build the Claude digest prompt.\nconst status = $input.first().json;\n\n// Format today's date in IST\nconst now = new Date();\nconst istOffset = 5.5 * 60 * 60 * 1000;\nconst istDate = new Date(now.getTime() + istOffset);\nconst dateStr = istDate.toISOString().slice(0, 10);\n\nconst prompt = `You are the daily operations analyst for an INR/USDT spread arbitrage bot on CoinSwitch India.\n\nToday: ${dateStr}\n\nCurrent bot config:\n- min_spread_pct: ${(status.min_spread_pct * 100).toFixed(2)}% (must exceed cost floor of ~1.08%)\n- two_leg_enabled: ${status.two_leg_enabled}\n- three_leg_enabled: ${status.three_leg_enabled}\n- taker_fee: ${(status.taker_fee * 100).toFixed(3)}%\n- tds_rate: ${(status.tds_rate * 100).toFixed(1)}% (TDS is the dominant cost)\n\nMarket context:\n- The 2-leg strategy buys S on INR market and sells on USDT C2C (or reverse).\n- Current market is calm — typical spreads run 0.3–0.8% raw, well below 1.5% threshold.\n- TDS at 1% means the net spread after costs is usually negative.\n- Threshold can be hot-changed via the control API without restarting the bot.\n\nWrite a concise daily ops digest (max 8 bullet points) covering:\n1. Whether current min_spread_pct is calibrated correctly for current market\n2. One recommendation for today (e.g., watch for news-driven volatility, a symbol to watch, a threshold experiment to try)\n3. Current risk posture (is the bot too conservative, too aggressive, or well-calibrated?)\n\nEnd with a one-line summary for the Slack message title.`;\n\nreturn [{\n  json: {\n    status,\n    dateStr,\n    claudeRequest: {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 600,\n      messages: [{ role: 'user', content: prompt }]\n    }\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000003",
      "name": "Build Digest Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claudeRequest) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000004",
      "name": "Ask Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract Claude's digest text and format for Slack.\nconst claudeBody = $input.first().json;\nconst prev       = $('Build Digest Prompt').first().json;\n\nconst rawText = claudeBody.content?.[0]?.text || 'No response from Claude.';\n\n// Split the last line off as a title if Claude followed the format.\nconst lines = rawText.trim().split('\\n').filter(l => l.trim());\nconst lastLine = lines[lines.length - 1];\nconst isTitle = lastLine && !lastLine.startsWith('-') && !lastLine.startsWith('•') && !lastLine.startsWith('*');\n\nconst title = isTitle ? lastLine : `Daily Arb Digest — ${prev.dateStr}`;\nconst body  = isTitle ? lines.slice(0, -1).join('\\n') : rawText;\n\nconst slackPayload = {\n  username: 'ArbAgent',\n  text: `:bar_chart: *${title}*\\n\\n${body}\\n\\n_Config: spread=${(prev.status.min_spread_pct * 100).toFixed(2)}%  2leg=${prev.status.two_leg_enabled}  3leg=${prev.status.three_leg_enabled}_`\n};\n\nreturn [{ json: slackPayload }];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000005",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000006",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Daily 9:30am IST": {
      "main": [
        [{ "node": "Get Bot Status", "type": "main", "index": 0 }]
      ]
    },
    "Get Bot Status": {
      "main": [
        [{ "node": "Build Digest Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Digest Prompt": {
      "main": [
        [{ "node": "Ask Claude", "type": "main", "index": 0 }]
      ]
    },
    "Ask Claude": {
      "main": [
        [{ "node": "Format Slack Message", "type": "main", "index": 0 }]
      ]
    },
    "Format Slack Message": {
      "main": [
        [{ "node": "Post to Slack", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "active": false,
  "versionId": "b2c3d4e5-0002-4000-8000-000000000000",
  "id": "arb-daily-digest",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "local"
  },
  "tags": [{ "name": "arb-bot" }]
}
